<div class="centered">
    <div class="question">Por favor seleccione el servicio con el que fue ayudado.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="https://static.thenounproject.com/png/62816-200.png">
            </div>
            <div class="a-select-text">Alojamiento</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">Justicia</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">Salud</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">Seguridad economica</div>
        </div>
    </div>
</div>