.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  font-size: 28px;
  padding-bottom: 20px;
  font-family: 'Poppins', sans-serif;
  color: #030F3D;
}

.a-select-image {
  max-width: auto;
  height: 70px;
}

img {
  max-height: 100%;
  width: auto;
}

.go-right-btn {
    right: 7%;
}

.go-left-btn {
    left: 7%;
}

.navbar {
  margin-bottom: 0px;
  position: relative;
}

.page-btn {
  position: absolute;
  bottom: 5%;
  padding: 10px;
}

button {
  padding: 10px;
  background: transparent;
  border: 0;
}

.overlay-element {
  z-index: 999999;
}

.a-select-text {
    padding-top: 10px;
    font-size: 20px;
}

.pt-page{
  overflow: scroll;
}

body{
  overflow-y: scroll;
}

.radio-btn{
    visibility: hidden;
}

label{
    cursor: pointer;
    padding: 15px;
}

input:checked + label{
    box-shadow: 0 0 10px #666;
}