.split {
  height: 100%;
  width: 50%;
  position: fixed;
  top: 0;
  overflow-x: hidden;
}

.subtitle{
  color: red;
}

.left {
  left: 0;
}

.right {
  right: 0;
}

.centered {
  position: absolute;
  top: 40%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.question {
  font-size: 28px;
  font-weight: bold;
  font-family: 'Poppins', sans-serif;
  color: #030F3D;
}

.a-select-image {
  max-width: auto;
  height: 70px;
}

img {
  max-height: 100%;
  width: auto;
}

.next-btn {
    right: 7%;
}

.back-btn {
    left: 7%;
}

.navbar {
  margin-bottom: 0px;
  position: relative;
}

.another-wrapper {
  position: relative;
  height: 100%;
}

.pt-trigger {
  position: absolute;
  bottom: 5%;
  padding: 10px;
}

button {
  padding: 10px;
  background: transparent;
  border: 0;
}

.overlay-element {
  z-index: 999999;
}

.pt-page-1{
  background-color: #ffffff;
}
.pt-page-2{
  background-color: #ffffff;
}
.pt-page{
  overflow: scroll;
}
body{
  overflow-y: scroll;
}



/* Accessibility features CSS */

button{
	border: none;
	font-size: 30px;
	background-color: white;
	padding-bottom: 5px;
}
body{
	background-color: white;
}

button:hover{
	cursor: pointer;
}
button:active{
	background-color: grey;
}

.options{
	/* -webkit-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	-moz-box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75); */
	box-shadow: 2px 3px 5px 0px rgba(0,0,0,0.75);
	background-color: white;
	position: fixed;
	display: flex;	
	align-content: stretch;
	margin-left: 50px;
	width: 300px;
	flex-direction: column;
  flex-flow: row wrap;
  
}

.row{
	width: 100%;
	padding:0px;
	justify-content: space-evenly;
	display: flex;
	flex-direction: row;
}
/* .accessibility_button{
  position: relative;
  margin-top: 100px;
} */


.option{
	flex-grow: 3;
	outline: 1px solid rgb(166, 166, 166);
	padding-left: 10px;
	padding-right: 10px;
	text-align: left;
	margin: 0px;
	display: none;
}
.option:hover{
	cursor: pointer;
	/* background-color: rgb(230, 230, 230); */
}
p{
	text-align: center;
	font-size: 12pt;
	font-family: Arial, Helvetica, sans-serif;
}

/* #increase_font_size{
	font-size: 15pt;
}
#decrease_font_size{
	font-size: 10pt;
} */

#dark{
	color: white;
}
.dark{
	background-color: rgb(38,38,38);
}

#sepia{
	color: rgb(90, 67, 52);
}
.sepia{
	background-color: rgb(243, 232, 204);
}

#font1{
	font-family: Arial, Helvetica, sans-serif;
}
#font2{
	font-family: 'Times New Roman', Times, serif;
}
.option:hover{
	text-decoration: underline;
}


