<div class="centered">
    <div class="question">Please select the counselor you met with.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-4">
            <button>
            <div class="a-select-image" style="height: 200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text">Jane Doe</div>
            </button>
        </div>
        <div class="a-select-option col-sm-4">
            <button>
            <div class="a-select-image" style="height: 200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text">Jane Doe</div>
            </button>
        </div>
        <div class="a-select-option col-sm-4">
            <button>
            <div class="a-select-image" style="height: 200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text">Jane Doe</div>
            </button>
        </div>
    </div>
</div>
<button class="overlay-element pt-trigger page-btn go-right-btn" data-animation="1" data-goto="-1">
    <div style="height:20px;">NEXT<img
            src="http://www.stickpng.com/assets/images/585e47b5cb11b227491c338b.png"
            style="margin-left:10px;">
    </div>
    </button>
    <button class="overlay-element pt-trigger page-btn go-left-btn" data-animation="2" data-goto="-2">
    <div style="height:20px;"><img
            src="http://www.stickpng.com/assets/images/585e47b5cb11b227491c338b.png"
            style="transform:rotate(180deg);margin-left:10px;">
        BACK
    </div>
</button>