<div class="options">
    <div class="row1 row">
        <div class="option" id="increase_font_size">
            <p> Aa +</p>
        </div>
        <div class="option" id="decrease_font_size">
            <p> Aa - </p>
        </div>
    </div>
    <div class="row2 row">
        <div class="option" id="font1">
            <p >Font 1</p>
        </div>
        <div class="option" id="font2">
            <p> Font 2 </p>
        </div>
    </div>
    <div class="row3 row">
        <div class="option light" id="light">
            <p>Light</p>
        </div>
        <div class="option dark" id="dark">
            <p>Dark</p>
        </div>
        <div class="option sepia" id="sepia">
            <p>Sepia</p>
        </div>
    </div>
</div>