<div class="split left">
    <div class="centered">
        <div class="question" id="foo">Please select your language.</div>
        <div class="answers a-select row">
            <div class="a-select-option col-sm-6">
                <button>
                <div class="a-select-image">
                    <img src="{{ url_for('static', filename='image/flag-us.png') }}">
                </div>
                <div class="a-select-text">English</div>
                </button>
            </div>
            <div class="a-select-option col-sm-6">
                <button>
                <div class="a-select-image">
                    <img src="{{ url_for('static', filename='image/flag-sp.png') }}">
                </div>
                <div class="a-select-text">Español</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="split right">
    <div class="centered">
        <div class="question">Please choose whether to have text read aloud.</div>
        <button>
        <div class="a-select-image">
            <img src="https://image.flaticon.com/icons/svg/53/53838.svg">
        </div>
        <div class="a-select-text">On</div>
        </button>
    </div>
</div>
