<div class="split left">
    <div class="centered">
        <div class="question hasText">Please select your language.</div>
        <div class="answers a-select row">
            <div class="a-select-option col-sm-6">
                <button>
                <div class="a-select-image">
                    <img src="{{ url_for('static', filename='image/flag-us.png') }}">
                </div>
                <div class="a-select-text hasText">English</div>
                </button>
            </div>
            <div class="a-select-option col-sm-6">
                <button>
                <div class="a-select-image">
                    <img src="{{ url_for('static', filename='image/flag-sp.png') }}" style = "width: 85%;">
                </div>
                <div class="a-select-text hasText">Español</div>
                </button>
            </div>
        </div>
    </div>
</div>
<div class="split right">
    <div class="centered">
        <div class="question hasText">Please choose whether to have text read aloud.</div>
        <button id="read-icon">
        <div class="a-select-image hasText">
            <img src="https://image.flaticon.com/icons/svg/53/53838.svg">
        </div>
        <div class="a-select-text hasText" id="read-on">On</div>
        </button>
    </div>
</div>
