<div class="centered">
    <div class="question">Please select the type of feedback you would like to submit.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-6">
            <div class="a-select-image" style="height:120px;">
                <img src="https://static.thenounproject.com/png/62816-200.png">
            </div>
            <div class="a-select-text">General</div>
        </div>
        <div class="a-select-option col-sm-6">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">For a counselor</div>
        </div>
    </div>
</div>
