<div class="centered">
    <div class="question hasText">How was your overall experience with NLSLA?</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-6">
            <button class="pt-trigger" data-animation="1" data-goto="-1">
            <!-- <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/clipboard.svg') }}" style = "height: 100%; width: 100%;">
            </div> -->
            <div class="a-select-text hasText">Positive</div>
            </button>
        </div>
        <div class="a-select-option col-sm-6">
            <button class="pt-trigger" data-animation="1" data-goto="-1">
            <!-- <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/counselor.svg') }}" style = "height: 100%; width: 100%;">
            </div> -->
            <div class="a-select-text hasText">Negative</div>
            </button>
        </div>
    </div>
</div>
