<div class="centered">
    <div class="question hasText">Please select the service you were helped with.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/house.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Housing</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/justice.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Justice</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/medicine.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Health</div>
        </div>
        <div class="a-select-option col-sm-3">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/financialsecurity.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Economic Security</div>
        </div>
    </div>
</div>
