<div class="centered">
    <div class="question hasText">Did you find the resources you were looking for?</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-6">
          <button class="pt-trigger" data-animation="1" data-goto="-1">
            <!-- <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/house.svg') }}" style = "height: 100%; width: 100%;">
            </div> -->
            <div class="a-select-text hasText">Yes </div>
            </button>
        </div>
        <div class="a-select-option col-sm-6">
          <button class="pt-trigger" data-animation="1" data-goto="-1">
            <!-- <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/justice.svg') }}" style = "height: 100%; width: 100%;">
            </div> -->
            <div class="a-select-text hasText">No</div>
          </button>
        </div>
    <!--    <div class="a-select-option col-sm-3">
          <button class="pt-trigger" data-animation="1" data-goto="-1">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/medicine.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Health</div>
          </button>
        </div>
        <div class="a-select-option col-sm-3">
          <button class="pt-trigger" data-animation="1" data-goto="-1">
            <div class="a-select-image" style="height:120px;">
                <img src="{{ url_for('static', filename='image/financialsecurity.svg') }}" style = "height: 100%; width: 100%;">
            </div>
            <div class="a-select-text hasText">Economic Security</div>
          </button>
        </div> -->
    </div>
</div>
