<div class="centered">
    <div class="question">Please select the location of the office you visited.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:120px;">
                <img src="https://static.thenounproject.com/png/62816-200.png">
            </div>
            <div class="a-select-text">Glendale, CA</div>
        </div>
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">Pacoima, CA</div>
        </div>
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:120px;">
                <img src="https://png.pngtree.com/svg/20160719/counsel_517964.png">
            </div>
            <div class="a-select-text">El Monte, CA</div>
        </div>
    </div>
</div>