<div class="centered">
    <div class="question hasText">Please select the counselor you met with.</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
        </div>
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
        </div>
        <div class="a-select-option col-sm-4">
            <div class="a-select-image" style="height:200px;">
                <img src="{{ url_for('static', filename='image/profile.svg') }}" style = "height: 100%; width: 100%;">
            </div>
        </div>
    </div>
    </div>
</div>
