<div class="centered">
    <div class="question">Would you recommend this service?</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-6">
            <button>
            <div class="a-select-image" style="height:150px;">
                <img src="{{ url_for('static', filename='image/x.png') }}">
            </div>
            </button>
        </div>
        <div class="a-select-option col-sm-6">
            <button>
            <div class="a-select-image" style="height:150px;">
                <img src="{{ url_for('static', filename='image/check.png') }}">
            </div>
            </button>
        </div>
    </div>
</div>