<div class="centered">
    <div class="question">Would you recommend this service?</div>
    <div class="answers a-select row">
        <div class="a-select-option col-sm-6">
            <button>
            <div class="a-select-image" style="height:150px;">
                <img src="{{ url_for('static', filename='image/cross.svg') }}">
            </div>
            </button>
        </div>
        <div class="a-select-option col-sm-6">
            <button>
            <div class="a-select-image" style="height:150px;">
                <img src="{{ url_for('static', filename='image/check.svg') }}">
            </div>
            </button>
        </div>
    </div>
</div>
<button class="overlay-element page-btn go-right-btn submit-btn">
    <div style="height:20px;">SUBMIT
    </div>
</button>
<button class="overlay-element pt-trigger page-btn go-left-btn" data-animation="2" data-goto="-2">
<div style="height:20px;"><img
        src="http://www.stickpng.com/assets/images/585e47b5cb11b227491c338b.png"
        style="transform:rotate(180deg);margin-left:10px;">
    BACK
</div>
</button>