<!DOCTYPE html>
<html lang="en">
<head>
  <title>NLSLA Feedback</title>
  {% block head %}
    <link rel="shortcut icon" href="{{ url_for('static', filename='image/favicon.ico') }}">
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link href="https://fonts.googleapis.com/css?family=Open+Sans" rel="stylesheet">

    <title>{% block title %}{% endblock %}</title>

    {% block style %}
      <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}" />
    {% endblock %}
  {% endblock %}
</head>
<body>
	<div id="header">
    {% block header %}
      <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
          <div class="navbar-header">
            <a id="navbar-logo" class="navbar-brand" href="http://www.nlsla.org" style="display: table;">
              <img src="{{ url_for('static', filename='image/nlsla-logo.png') }}">
            </a>
          </div>
          <ul class="nav navbar-nav navbar-right">
            <li>
            </li>
          </ul>
        </div>
      </nav>
    {% endblock %}
  </div>

  <div id="content">{% block content %}{% endblock %}</div>

  <div id="footer">
    {% block footer %}
    {% endblock %}
  </div>

  {% block script %}
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
  {% endblock %}
</body>
</html>