<!DOCTYPE html>
<html lang="en" class="no-js">
<head>
    <title>NLSLA Feedback</title>
    {% block head %}
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/transition-style.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/transition-animations.css') }}"/>
    <link rel="stylesheet" type="text/css" href="{{ url_for('static', filename='style/base.css') }}"/>
    <script src="{{ url_for('static', filename='js/modernizr.custom.js') }}"></script>
    <script src="../static/js/jquery-3.3.1.min.js" type="text/javascript"></script>
    <script src="../static/js/accessibility.js" type="text/javascript"></script>
    {% endblock %}
</head>
<body>
<div>
    {% block header %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="navbar-logo" class="navbar-brand" href="http://www.nlsla.org" style="display: table;">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='image/nlsla-logo.png') }}">
                    </div>
                </a>
            </div>
            <div class="nav navbar-nav navbar-right">
                    <div class="dropdown">
                        <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                                data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                        <div style="max-width:auto;height:20px;">
                            ENGLISH
                            <img src="http://www.cndajin.com/data/wls/26/5484277.png">
                        </div>
                        </button>
                        <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                            <li><a class="dropdown-item" href="#">ENGLISH</a></li>
                            <li><a class="dropdown-item" href="#">ESPAÑOL</a></li>
                        </div>
                    </div>
            </div>
        </div>
    </nav>
    {% endblock %}
</div>

<div class="audio-select">
    <button style="position:absolute;left:3%;top:10%;">
        <div class="overlay-element" style="position:relative;max-width:auto;height:30px;">
            <img src="https://image.flaticon.com/icons/svg/53/53838.svg">
        </div>
    </button>
</div>

<div class="zoom-select">
    <button style="position:absolute;left:2%;top:20%;" class = "increaseFontSize">
        <div class="overlay-element" style="position:relative;max-width:auto;height:30px;">
            <img src="https://s3.amazonaws.com/iconbros/icons/icon_pngs/000/000/228/original/plus.png?1510301290">
        </div>
    </button>
    <button style="position:absolute;left:4%;top:20%;" class = "decreaseFontSize">
        <div class="overlay-element" style="position:relative;max-width:auto;height:30px;">
            <img src="https://image.freepik.com/free-icon/circular-button-with-minus-sign_318-25233.jpg">
        </div>
    </button>
</div>

<div class="pt-wrapper" style="text-align:center;">
    <div style="width: 100%;height: 100%;position: absolute;top: 0;left: 0;">
        <div class="another-wrapper">
            <div class="pt-trigger-container">
                <button class="overlay-element pt-trigger next-btn" data-animation="1" data-goto="-1">
                    <div style="height:20px;">NEXT<img
                            src="http://www.stickpng.com/assets/images/585e47b5cb11b227491c338b.png"
                            style="margin-left:10px;">
                    </div>
                </button>
                <button class="overlay-element pt-trigger back-btn" data-animation="2" data-goto="-2">
                    <div style="height:20px;"><img
                            src="http://www.stickpng.com/assets/images/585e47b5cb11b227491c338b.png"
                            style="transform:rotate(180deg);margin-left:10px;">
                        BACK
                    </div>
                </button>
            </div>
        </div>
    </div>
    <div class="pt-page pt-page-1">
        <div class="another-wrapper">
            {% include "page-blocks/p1.html" %}
        </div>
    </div>
    <div class="pt-page pt-page-2">
        <div class="another-wrapper">
            {% include "page-blocks/p2.html" %}
        </div>
    </div>
    <div class="pt-page pt-page-3">
        <div class="another-wrapper">
            {% include "page-blocks/p3.html" %}
        </div>
    </div>
    <div class="pt-page pt-page-4">
        <div class="another-wrapper">
            {% include "page-blocks/p4.html" %}
        </div>
    </div>
    <div class="pt-page pt-page-5">
        <div class="another-wrapper">
            {% include "page-blocks/p5.html" %}
        </div>
    </div>
</div>
<script src="https://ajax.googleapis.com/ajax/libs/jquery/1.9.1/jquery.min.js"></script>
<script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
<script src="{{ url_for('static', filename='js/transition.js') }}"></script>
</body>
</html>
