<!DOCTYPE html>
<html>

<head>
    <title>NLSLA Feedback</title>
    <link rel="stylesheet" type="text/css"
          href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.4/css/bootstrap.min.css"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/transition-animations.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/demo-single-page.css') }}"/>
    <link rel="stylesheet" href="{{ url_for('static', filename='style/base.css') }}"/>
</head>
<div>
    {% block header %}
    <nav class="navbar navbar-default navbar-static-top">
        <div class="container-fluid">
            <div class="navbar-header">
                <a id="navbar-logo" class="navbar-brand" href="http://www.nlsla.org" style="display: table;">
                    <div class="image-container">
                        <img src="{{ url_for('static', filename='image/nlsla-logo.png') }}">
                    </div>
                </a>
            </div>
            <div class="nav navbar-nav navbar-right">
                <div class="dropdown">
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButton"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div style="max-width:auto;height:20px; font-size: 20px;">
                        ENGLISH
                        <img src="http://www.cndajin.com/data/wls/26/5484277.png">
                    </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButtonLang">
                        <li><a class="dropdown-item" href="#">ENGLISH</a></li>
                        <li><a class="dropdown-item" href="#">ESPAÑOL</a></li>
                    </div>
                    <button class="btn dropdown-toggle" type="button" id="dropdownMenuButtonFormat"
                            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                    <div style="max-width:auto;height:20px; font-size: 20px;">
                        Aa
                        <img src="http://www.cndajin.com/data/wls/26/5484277.png">
                    </div>
                    </button>
                    <div class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                        <li><a class="dropdown-item" href="#">Placeholder</a></li>
                        <li><a class="dropdown-item" href="#">Placeholder</a></li>
                    </div>
                </div>
            </div>
        </div>
    </nav>
    {% endblock %}
</div>

<div class="pt-wrapper">
    <button class="pt-trigger" id="go-end" data-animation="1" data-goto="-1" style="display:none;"></button>
    <!--All Pages-->
    <form action="/" method="post" id="data-form">
        <div class="pt-page">
            {% include "page-blocks/settings.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/form-type.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/service.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/location.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/counselor.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/wait.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/recommend.html" %}
        </div>
        <div class="pt-page">
            {% include "page-blocks/thank-you.html" %}
        </div>
    </form>
</div>

<div class="pt-message">
    <p>Your browser does not support CSS animations.</p>
</div>

<script src="{{ url_for('static', filename='js/jquery-2.1.3.min.js') }}"/></script>
<script src="{{ url_for('static', filename='js/transition.js') }}"></script>
<script>
    jQuery(document).ready(function() {
        jQuery(".submit-btn").click(function(){
            if (confirm("Are you sure you want to submit?")){
                var data = jQuery("#data-form").serialize();
                jQuery.post("/", data);
                jQuery("#go-end").click();
            }
        });
    });
</script>

</body>
</html>